---
/**
 * Update the details below to match your personal information
 */

enum DetailType {
	title = 'title',
	subtitle = 'subtitle',
	description = 'description',
}

const details: {
	type: DetailType;
	content: string;
}[] = [
	{
		type: DetailType.title,
		content: `ä½ å¥½å‘€ï¼æˆ‘æ˜¯ ä¸¥å‰å‰ðŸ˜€`,
	},
	{
		type: DetailType.subtitle,
		content: 'ä¸€ä¸ªåŠè·¯å‡ºå®¶çš„ðŸ”Žå ç (code)ä»”',
	},
	{
		type: DetailType.description,
		content: 'åªè¦é¡¹ç›®æ’¸çš„å¤šï¼ŒðŸ§æ€»ä¼šæœ‰é•¿è¿›ï¼ ðŸš€ðŸ’»',
	},
];

const getClass = (type: DetailType) => {
	switch (type) {
		case DetailType.title:
			return 'font-sora text-4xl font-bold tracking-wide md:text-5xl animate-fade-up duration-300';
		case DetailType.subtitle:
			return 'text-xs font-light tracking-wide md:text-sm duration-300';
		case DetailType.description:
			return 'text-sm font-normal tracking-wide md:text-base animate-fade-in duration-300';
	}
};
---

<div class="grid grid-cols-1 place-content-center place-items-center gap-5">
	{details.map((detail) => <p class={getClass(detail.type)}>{detail.content}</p>)}
</div>
